[submodule "/home/shadowrylander/.config/qtile"]
	path = /home/shadowrylander/.config/qtile
	url = git@github.com:shadowrylander/qtile-config.git
[submodule "/home/shadowrylander/.s/vim/vimrc"]
	path = /home/shadowrylander/.s/vim/vimrc
	url = git@github.com:shadowrylander/vimrc
