*

# From: https://jasonstitt.com/gitignore-whitelisting-patterns
!*/

!home/.emacs.d

!*.org
!**/**/*.org

!README.*
!**/**/README.*

!*.dep
!**/**/*.dep

!*.lock
!**/**/*.lock

!flake.nix
!**/**/flake.nix

!*.git*
!**/**/*.git*

!bootstrap
!**/**/bootstrap

!makefile
!**/**/makefile

!org-tangle
!**/**/org-tangle

!peru.yaml
!**/**/peru.yaml

!LICENSE
