[core]
    excludesfile = ~/.globalignore
    attributesfile = ~/.gitattributes

[user]
    email = aiern@protonmail.com
    name = shadowrylander

[alias]
    cnm = commit --allow-empty-message -am ""
    subinit = !git submodule sync && git submodule update --force --init --depth 1 --recursive --remote
    noggin = push origin HEAD:main
    stow = !make -f ~/makefile stow
    tangle = !make -f ~/makefile tangle
    super = !yadm cnm && yadm push

[protocol "keybase"]
	allow = always
