[core]
    excludesfile = ~/.globalignore
    attributesfile = ~/.gitattributes

[user]
    email = aiern@protonmail.com
    name = shadowrylander

[alias]
    cnm = commit --allow-empty-message -am ""
    subinit = !chmod +x ~/.config/git/scripts/subinit && ~/.config/git/scripts/subinit $@
    noggin = push origin HEAD:main
    stow = !make -f ~/makefile stow
    tangle = !make -f ~/makefile tangle
    super = !chmod +x ~/.config/git/scripts/super && ~/.config/git/scripts/super $@
    wtt = !chmod +x ~/.config/git/scripts/wtt && ~/.config/git/scripts/wtt $@
    keybase = !chmod +x ~/run_keybase && ~/run_keybase $@
    sylveon = !git -C ~/sylveon subinit

[protocol "keybase"]
	allow = always
