*

# From: https://jasonstitt.com/gitignore-whitelisting-patterns
!*/

!**/**/*.org
!**/**/README.*
!**/**/makefile
!**/**/*.lock
!**/**/*.dep
!**/**/*.mk
!**/**/*.git*
!**/**/flake.nix
!**/**/bootstrap.py

!/siluam/**/**
!/themes/screenshots/**/**

!/LICENSE

**/**/README.el