[submodule "a.el"]
        path = lib/a
        url = https://github.com/plexus/a.el
[submodule "ace-window"]
        path = lib/ace-window
        url = https://github.com/abo-abo/ace-window.git
[submodule "all-the-icons"]
        path = lib/all-the-icons
        url = https://github.com/domtronn/all-the-icons.el.git
[submodule "async"]
        path = lib/async
        url = https://github.com/jwiegley/emacs-async.git
[submodule "auto-package-update"]
        path = lib/auto-package-update
        url = https://github.com/rranelli/auto-package-update.el.git
[submodule "avy"]
        path = lib/avy
        url = https://github.com/abo-abo/avy.git
[submodule "bind-map"]
        path = lib/bind-map
        url = https://github.com/justbur/emacs-bind-map.git
[submodule "borg"]
        path = lib/borg
        url = https://github.com/emacscollective/borg.git
[submodule "closql"]
        path = lib/closql
        url = https://github.com/emacscollective/closql.git
[submodule "command-log-mode"]
        path = lib/command-log-mode
        url = https://github.com/lewang/command-log-mode.git
[submodule "company"]
        path = lib/company
        url = https://github.com/company-mode/company-mode.git
[submodule "counsel-projectile"]
        path = lib/counsel-projectile
        url = https://github.com/ericdanan/counsel-projectile.git
[submodule "dash"]
        path = lib/dash
        url = https://github.com/magnars/dash.el.git
[submodule "dired-hacks"]
        path = lib/dired-hacks
        url = https://github.com/Fuco1/dired-hacks.git
[submodule "dired-sidebar"]
        path = lib/dired-sidebar
        url = https://github.com/jojojames/dired-sidebar.git
[submodule "dmenu"]
        path = lib/dmenu
        url = https://github.com/lujun9972/el-dmenu.git
[submodule "dockerfile-mode"]
        path = lib/dockerfile-mode
        url = https://github.com/spotify/dockerfile-mode.git
[submodule "doom-themes"]
        path = lib/doom-themes
        url = https://github.com/hlissner/emacs-doom-themes.git
[submodule "emacsql"]
        path = lib/emacsql
        url = https://github.com/skeeto/emacsql.git
        no-byte-compile = emacsql-pg.el
[submodule "epkg"]
        path = lib/epkg
        url = https://github.com/emacscollective/epkg.git
[submodule "evil"]
        path = lib/evil
        url = https://github.com/emacs-evil/evil.git
[submodule "evil-god-state"]
        path = lib/evil-god-state
        url = https://github.com/gridaphobe/evil-god-state.git
[submodule "exec-path-from-shell"]
        path = lib/exec-path-from-shell
        url = https://github.com/purcell/exec-path-from-shell.git
[submodule "exwm"]
        path = lib/exwm
        url = https://github.com/ch11ng/exwm.git
[submodule "f.el"]
        path = lib/f
        url = https://github.com/rejeep/f.el
[submodule "flx"]
        path = lib/flx
        url = https://github.com/lewang/flx.git
[submodule "flycheck"]
        path = lib/flycheck
        url = https://github.com/flycheck/flycheck.git
[submodule "gcmh"]
        path = lib/gcmh
        url = https://gitlab.com/koral/gcmh.git
[submodule "god-mode"]
        path = lib/god-mode
        url = https://github.com/emacsorphanage/god-mode.git
[submodule "helm"]
        path = lib/helm
        url = https://github.com/emacs-helm/helm.git
[submodule "helm-flx"]
        path = lib/helm-flx
        url = https://github.com/PythonNut/helm-flx.git
[submodule "helm-projectile"]
        path = lib/helm-projectile
        url = https://github.com/bbatsov/helm-projectile.git
[submodule "helm-smex"]
        path = lib/helm-smex
        url = https://github.com/ptrv/helm-smex.git
[submodule "helm-swoop"]
        path = lib/helm-swoop
        url = https://github.com/emacsorphanage/helm-swoop.git
[submodule "ht"]
        path = lib/ht
        url = https://github.com/Wilfred/ht.el.git
[submodule "hy-mode"]
        path = lib/hy-mode
        url = https://github.com/hylang/hy-mode.git
[submodule "hydra"]
        path = lib/hydra
        url = https://github.com/abo-abo/hydra.git
[submodule "ibuffer-sidebar"]
        path = lib/ibuffer-sidebar
        url = https://github.com/jojojames/ibuffer-sidebar.git
[submodule "ido-completing-read+"]
        path = lib/ido-completing-read+
        url = https://github.com/DarwinAwardWinner/ido-completing-read-plus.git
[submodule "iedit"]
        path = lib/iedit
        url = https://github.com/victorhge/iedit.git
[submodule "ivy"]
        path = lib/ivy
        url = https://github.com/abo-abo/swiper.git
[submodule "key-chord"]
        path = lib/key-chord
        url = https://github.com/emacsorphanage/key-chord.git
[submodule "leaf"]
        path = lib/leaf
        url = https://github.com/conao3/leaf.el.git
[submodule "leaf-keywords"]
        path = lib/leaf-keywords
        url = https://github.com/conao3/leaf-keywords.el.git
[submodule "lispy"]
        path = lib/lispy
        url = https://github.com/abo-abo/lispy.git
[submodule "magit"]
        path = lib/magit
        url = https://github.com/magit/magit.git
[submodule "markdown-mode"]
        path = lib/markdown-mode
        url = https://github.com/jrblevin/markdown-mode.git
[submodule "modalka"]
        path = lib/modalka
        url = https://github.com/mrkkrp/modalka.git
[submodule "multi-vterm"]
        path = lib/multi-vterm
        url = https://github.com/suonlight/multi-vterm.git
[submodule "nix-mode"]
        path = lib/nix-mode
        url = https://github.com/NixOS/nix-mode.git
[submodule "no-littering"]
        path = lib/no-littering
        url = https://github.com/emacscollective/no-littering.git
[submodule "ob-hy"]
        path = lib/ob-hy
        url = https://github.com/brantou/ob-hy.git
[submodule "objed"]
        path = lib/objed
        url = https://github.com/clemera/objed.git
[submodule "olivetti"]
        path = lib/olivetti
        url = https://github.com/rnkn/olivetti.git
[submodule "org"]
        path = lib/org
        url = https://code.orgmode.org/bzg/org-mode.git
[submodule "org-contrib"]
        path = lib/org-contrib
        url = https://git.sr.ht/~bzg/org-contrib
[submodule "ox-gfm"]
        path = lib/ox-gfm
        url = https://github.com/larstvei/ox-gfm.git
[submodule "ox-pandoc"]
        path = lib/ox-pandoc
        url = https://github.com/kawabata/ox-pandoc.git
[submodule "ppd-sr-speedbar"]
        path = lib/ppd-sr-speedbar
        url = https://github.com/rdallasgray/ppd-sr-speedbar.git
[submodule "prescient"]
        path = lib/prescient
        url = https://github.com/raxod502/prescient.el.git
[submodule "profiles/alhassy"]
        path = profiles/alhassy
        url = https://github.com/alhassy/emacs.d.git
[submodule "profiles/centaur"]
        path = profiles/centaur
        url = https://github.com/seagle0128/.emacs.d.git
[submodule "profiles/doom"]
        path = profiles/doom
        url = https://github.com/hlissner/.emacs.d.git
[submodule "profiles/graphene/lisp"]
        path = profiles/graphene/lisp
        url = https://github.com/rdallasgray/graphene.git
[submodule "profiles/nano/lisp"]
        path = profiles/nano/lisp
        url = https://github.com/rougier/nano-emacs
[submodule "profiles/patrick"]
        path = profiles/patrick
        url = https://github.com/patrickt/emacs
[submodule "profiles/prelude"]
        path = profiles/prelude
        url = https://github.com/bbatsov/prelude.git
[submodule "profiles/spacemacs"]
        path = profiles/spacemacs
        url = https://github.com/syl20bnr/spacemacs.git
[submodule "project-persist"]
        path = lib/project-persist
        url = https://github.com/rdallasgray/project-persist.git
[submodule "project-persist-drawer"]
  path = lib/project-persist-drawer
  url = https://github.com/rdallasgray/project-persist-drawer.git
[submodule "projectile"]
        path = lib/projectile
        url = https://github.com/bbatsov/projectile.git
[submodule "quelpa"]
        path = lib/quelpa
        url = https://github.com/quelpa/quelpa.git
[submodule "quelpa-leaf"]
        path = lib/quelpa-leaf
        url = https://github.com/quelpa/quelpa-leaf.git
[submodule "quelpa-use-package"]
        path = lib/quelpa-use-package
        url = https://github.com/quelpa/quelpa-use-package.git
[submodule "rainbow-identifiers"]
        path = lib/rainbow-identifiers
        url = https://github.com/Fanael/rainbow-identifiers.git
[submodule "rainbow-mode"]
        path = lib/rainbow-mode
        url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "restart-emacs"]
        path = lib/restart-emacs
        url = https://github.com/iqbalansari/restart-emacs.git
[submodule "ryo-modal"]
        path = lib/ryo-modal
        url = https://github.com/kungsgeten/ryo-modal.git
[submodule "s.el"]
        path = lib/s
        url = https://github.com/magnars/s.el
[submodule "shrink-path"]
        path = lib/shrink-path
        url = https://gitlab.com/bennya/shrink-path.el.git
[submodule "sly"]
        path = lib/sly
        url = https://github.com/joaotavora/sly.git
[submodule "smartparens"]
        path = lib/smartparens
        url = https://github.com/Fuco1/smartparens.git
[submodule "smex"]
        path = lib/smex
        url = https://github.com/nonsequitur/smex.git
[submodule "sr-speedbar"]
  path = lib/sr-speedbar
  url = https://github.com/emacsorphanage/sr-speedbar.git
[submodule "system-packages"]
        path = lib/system-packages
        url = https://gitlab.com/jabranham/system-packages.git
[submodule "transient"]
        path = lib/transient
        url = https://github.com/magit/transient.git
[submodule "use-package"]
        path = lib/use-package
        url = https://github.com/jwiegley/use-package.git
[submodule "use-package-hydra"]
        path = lib/use-package-hydra
        url = https://gitlab.com/to1ne/use-package-hydra.git
[submodule "vimrc-mode"]
        path = lib/vimrc-mode
        url = https://github.com/mcandre/vimrc-mode.git
[submodule "vlfi"]
        path = lib/vlfi
        url = https://github.com/m00natic/vlfi.git
[submodule "vterm"]
        path = lib/vterm
        url = https://github.com/akermu/emacs-libvterm.git
[submodule "web-mode"]
        path = lib/web-mode
        url = https://github.com/fxbois/web-mode.git
[submodule "which-key"]
        path = lib/which-key
        url = https://github.com/justbur/emacs-which-key.git
[submodule "with-editor"]
        path = lib/with-editor
        url = https://github.com/magit/with-editor.git
[submodule "xah-fly-keys"]
        path = lib/xah-fly-keys
        url = https://github.com/xahlee/xah-fly-keys.git
[submodule "xelb"]
        path = lib/xelb
        url = https://github.com/ch11ng/xelb.git
[submodule "xonsh-mode"]
        path = lib/xonsh-mode
        url = https://github.com/seanfarley/xonsh-mode.git
[submodule "yasnippet"]
        path = lib/yasnippet
        url = https://github.com/joaotavora/yasnippet.git
